<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/build/component.css') }}">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script async src="{{ asset('build/app.js') }}"></script>
        <script async src="{{ asset('build/build/classie.js') }}"></script>
        <script async src="{{ asset('build/build/css-filters-polyfill.js') }}"></script>
        <script async src="{{ asset('build/build/cssParser.js') }}"></script>
        <script async src="{{ asset('build/build/modalEffects.js') }}"></script>
        {#<script src="{{ asset('build/build/modernizr.custom.js') }}"></script>#}
    </body>
</html>
